/*Checkout Button */

.checkout-button {
    width: 394px;
    height: 69px;
    background: #00C9A8;
    color: #fff;
    border: none;
    border-radius: 50px;
}

/* Mobile Devices*/

@media only screen and (max-width: 600px) {
    .checkout-button {
        width: 200px;
        height: 50px;
    }
}