@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #E5E5E5;
}

/* Current Courses */

section .current-courses {
    background-color: #E5E5E5;
    border: none;
    border-radius: 20px;
}

.text-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #3A3A3A;
}

/* Completed Courses*/

section .completed-courses {
    background-color: #E5E5E5;
    border: none;
    border-radius: 20px;
}