/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
}

html body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #E5E5E5;
}

/*=============== TOP NAVBAR ===============*/
.navbar {
    background-color: #fff;
}

nav .navbar-nav li a {
    color: #000 !important;
}

.vr-color {
    color: #00c9a8;
}

/* Search form */
form .search-button {
    width: 480px;
    background-color: #e5e5e5;
    color: #9f9f9f;
    border-radius: 25px;
}

form .search-text {
    background-color: #e5e5e5;
    border-radius: 50px;
}

/* Messages */
.messages-hr {
    background-color: #00C9A8;
}

form .search-message-button {
    background-color: #E5E5E5;
    color: #9F9F9F;
    border-radius: 20px;
}

.sender-title {
    font-weight: 500;
    font-size: 19px;
    color: #3A3A3A;
}

/*Notifications*/
.notification-hr {
    background-color: #00C9A8;
}

.notification-time {
    font-weight: 300;
    font-size: 15px;
    color: #9F9F9F;
}

/*User profile*/
.user-profile-dropdown {
    background-color: #00c9a8;
}

/*Log out modal*/
.yes-button {
    width: 133px;
    height: 67px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 50px;
}

.no-button {
    width: 133px;
    height: 67px;
    background-color: #00C9A8;
    border: none;
    border-radius: 50px;
}

/*=============== ALL CLASSMATES ===============*/
.section-card {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.title-hr {
    width: 200px;
    background-color: #00C9A8;
}

.classmates-title {
    font-size: 2em;
}

/*===============  MEDIA QUERIES  ===============*/

/*  media screen for mobile devices  */
@media only screen and (max-width: 600px) {
    form .search-button {
        width: 300px;
    }

}